<div class="container">
    <div class="upper-section">
        <div class="art-container">
            <img src="assets/loginart.svg" class="art"/>
            <img src="assets/loginpath.svg" class="path"/>
        </div>
        <form>
            <input type="text" placeholder="Login"/>
            <input type="text" placeholder="Password"/>
            <app-button>Login</app-button>
        </form>
        <div class="login-option-text">Or</div>
        <div class="login-option-text">Sign in with</div>
        <div class="login-option-text">google wala button</div>
    </div>
    <img src="assets/rslogo.svg" class="rs-logo"/>
</div>