button{
    background: #307FE2 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 10px #307FE24D;
    border-radius: 8px;
    border: 1px solid #307FE2;
    font: normal normal 900 17px/27px Lato;
    letter-spacing: 0.77px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 32px;
    outline: none;
}